* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #cd094c;
  font-family: sans-serif;
}

header {
  background-color: #0615de;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 2px solid #22254b;
  background-color: transparent;
  color: #eee;
  font-size: 1rem;
}

.search::placeholder {
  color: #afb2dc;
}

.search:focus {
  outline: none;
  background-color: #05082c;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 300px;
  background-color: #0d1dd2;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  color: #eee;
  letter-spacing: 0.5px;
  align-items: center;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: #2ec22e;
}

.movie-info span.orange {
  color: #ffa500;
}

.movie-info span.red {
  color: #ff0000;
}

.overview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 2rem;
  transform: translateY(100%);
  transition: transform 1s ease-in;
  max-width: 100%;
  overflow: auto;
}

.movie:hover .overview {
  transform: translateY(0);
}

.overview h4 {
  margin-top: 0;
}
